// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash {
  color: gray;
  padding-top: 10px;
}

.field {
  padding-bottom: 10px;
}

.photo_index {
  text-align: center;
}

.pic_reg_btn {
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.photo_box {
  border: solid #D3D3D3 1px;
  padding: 20px 0px 10px 0px;
  margin-bottom: 50px;
}

.photo_user {
  padding-left: 10px;
  font-family: Helvetica, "游ゴシック", "Yu Gothic", sans-serif;
}

.photo_title {
  padding-left: 10px;
  font-family: Helvetica, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 15px;
}

.photo_message {
  font-family: Helvetica, "游ゴシック", "Yu Gothic", sans-serif;
  margin-bottom: 0px;
  padding-left: 10px;
}

.photo_img img{
  display: block;
  margin: auto;
  max-width: 568px;
  height: auto;
}

.edit_delete_btn {
  text-align: right;
  padding-right: 10px;
}
